{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
        <select name="symbol">
            <option value="Shares" disabled>Shares</option>
            {% for stock in stocks %}
            <option value="{{stock.ticker}}">{{stock.ticker}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
